:root {
    --FTsize-header: 25px;
}

span {
    font-size: 80%;
}


* { /*全てに適用*/
    font-family: "Noto Sans JP";
    text-decoration: none;
}

/* 全ページヘッダーに適用 */
header {
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    font-size: var(--FTsize-header);
    letter-spacing: 0.1em;
    padding: 1px;

    a:link { color: #AAAAAA; }
    a:visited { color: #AAAAAA; }
}

li {
    
    list-style-type: none;
    float: left;
    margin-left: 50px;
    font-size: 75%; 
}


.selected  {
    a:visited { color: #222222; }
}

header p {   
    padding-top: 0.5px;
    font-weight: 900;
    padding-left: 25px;
    
}

/* メインの背景設定 */
main {
    background-color: #FAFAFA;
    padding: 50px;
}

/* ホーム用のポスト設定 */


.post-out {
    transition: 1s;
    opacity: 0;
}

.post-out.in {
    opacity: 1;
}

.post {
    margin: auto;
    margin-bottom: 30px;
    padding: 1px;
    padding-right: 20px;
    padding-left: 20px;
    width: 80%;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
    border-radius: 10px;

    a:link { color: #6034ff; }
    a:visited { color: #6034ff; }
  
}

.post h1 {
    letter-spacing: 0.05em;
}

.date {
    text-align: right;
    font-size: 80%;
}

/* 開いたブログページの設定 */

.post-opned {
    margin: auto;
    margin-bottom: 30px;
    padding: 1px;
    padding-right: 30px;
    padding-left: 30px;
    width: 95%;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
    border-radius: 10px;

    a:link { color: #6034ff; }
    a:visited { color: #6034ff; }
}

.post-opned h1 {
    font-size: 40px;
}

.post-opned h2 {
    font-size: 30px;
}

.mb5 {
    margin-bottom: 5em;
}

/* photo.htmlの設定 */

.photo {
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 98%;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
  
}

.photo h1 {
    padding: 10px;
}

.photo img {
    margin-bottom: 100px;
}

.photo-out {
    transition: 1s;
    opacity: 0;
}

.photo-out.in {
    opacity: 1;
}

/* フッターの設定 */

footer {
    letter-spacing: 0.075em;
    background-color: #EAEAEA;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.aboutme {
    line-height: 75%;
}

.aboutme .name {
    margin-left: 10px;
}

.aboutme .discribe {
    margin-left: 20px;
    font-weight: 500;
    font-size: 80%;
    line-height: 60%;
}

.aboutme .tag {
    margin-left: 20px;
    font-weight: 400;
    font-size: 95%;
}

.name {
    font-weight: 600;
    margin-left: 10px;
}

.support {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.support-sentence {
    line-height: 50%;
    font-size: 50%;
    margin-left: 25px;
    font-weight: 300;
}






