:root {
    --FTsize-header: 25px;
}

span {
    font-size: 80%;
}


* { /*全てに適用*/
    font-family: "Noto Sans JP";
    text-decoration: none;
}

/* 全ページヘッダーに適用 */
header {
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    font-size: var(--FTsize-header);
    letter-spacing: 0.1em;
    padding: 1px;

    a:link { color: #AAAAAA; }
    a:visited { color: #AAAAAA; }
}

li {
    
    list-style-type: none;
    float: left;
    margin-left: 50px;
    font-size: 75%; 
}


.selected  {
    a:visited { color: #222222; }
}

header p {   
    padding-top: 0.5px;
    font-weight: 900;
    padding-left: 25px;
    
}

/* メインの背景設定 */
main {
    background-color: #FAFAFA;
    padding: 50px;
}

/* ホーム用のポスト設定 */


.post-out {
    transition: 1s;
    opacity: 0;
}

.post-out.in {
    opacity: 1;
}

.post {
    margin: auto;
    margin-bottom: 30px;
    padding: 1px;
    padding-right: 20px;
    padding-left: 20px;
    width: 80%;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
    border-radius: 10px;

    a:link { color: #6034ff; }
    a:visited { color: #6034ff; }
  
}

.post h1 {
    letter-spacing: 0.05em;
}

.top {
    text-align: center;
}

.date {
    text-align: right;
    font-size: 80%;
}

/* 開いたブログページの設定 */

.post-opned {
    margin: auto;
    margin-bottom: 30px;
    padding: 1px;
    padding-right: 30px;
    padding-left: 30px;
    width: 95%;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
    border-radius: 10px;

    a:link { color: #6034ff; }
    a:visited { color: #6034ff; }
}

.post-opned h1 {
    font-size: 40px;
}

.post-opned h2 {
    font-size: 30px;
}

.mb5 {
    margin-bottom: 5em;
}

.mb3 {
    margin-bottom: 5em;
}

/* photo.htmlの設定 */

.photo {
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 98%;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
  
}

.photo h1 {
    padding: 10px;
}

.photo img {
    margin-bottom: 100px;
}

.photo-out {
    transition: 1s;
    opacity: 0;
}

.photo-out.in {
    opacity: 1;
}

.craft-out {
    transition: 1s;
    opacity: 0;
}

.craft-out.in {
    opacity: 1;
}

.card {
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #222222;
    box-shadow: #EFEFEF 3px 3px 10px;
    border-radius: 10px;

    a:link { color: #6034ff; }
    a:visited { color: #6034ff; }
  
}


.grid ul {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* フッターの設定 */

footer {
    letter-spacing: 0.075em;
    background-color: #EAEAEA;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    text-align: center;
}


.discribe {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.btn-1 {
    padding: 10px;
    margin: auto;
}

.btn-2 {
    padding: 10px;
    margin: auto;
}

.sentence {
    font-size: 10px;
}

.block {
    margin: auto;
}



  
.btn:hover {
opacity: .8;
}

/* オーバーレイ */
.overlay {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);  
    /* デフォルトでは見えないようにする */
    opacity: 0;
    visibility: hidden;
    /* 表示する際の変化の所要時間 */
    transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
    /* activeクラスがついたときにオーバーレイを表示する */
    opacity: 1;
    visibility: visible;
    }

/* モーダルウィンドウ */
.modal-1 {
    max-width: 500px;
    width: 86%;
    padding: 15px 20px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal-1.active {
    opacity: 1;
    visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal-1 .close-1 {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.modal-2 {
    max-width: 500px;
    width: 86%;
    padding: 15px 20px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal-2.active {
    opacity: 1;
    visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal-2 .close-2 {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}






