:root {
  --fontsize-percent: 1.1;
  --fontweight-differ: 100;

  --header-fontsize: 30px;
  --header-fontweight: 800;

  --conteiner-fontsize: 25px;
  --conteiner-fontweight: 600;

  --header-strong-size: calc(var(--header-fontsize) * var(--fontsize-percent));
  --header-strong-weight: calc(var(--header-fontweight) + var(--fontweight-differ));

  --conteiner-strong-size: calc(var(--conteiner-fontsize) * var(--fontsize-percent));
  --conteiner-strong-weight: calc(var(--conteiner-fontweight) + var(--fontweight-differ));
}

.header {
    background-color: #DCDCEE;
    padding: 10px;
    color: #00AAAA;
    display: flex;
}

.header h1 {
  font-family: "Noto Sans JP";
  font-weight: var(--header-strong-weight);
  font-size: var(--header-strong-size); 
}

.header span {
  font-family: "Noto Sans JP";
  font-weight: var(--header-fontweight);
  font-size: var(--header-fontsize); 
}


li {
    padding: 10px;
    list-style: none; 
    float: left;
    font-family: "Noto Sans JP";
    font-weight: 400;
    font-size: 15px; 
}


.conteiner h1 {
  font-family: "Noto Sans JP";
  font-weight: var(--conteiner-strong-weight);
  font-size: var(--conteiner-strong-size);
  color: orange;
}

.conteiner span {
    font-family: "Noto Sans JP";
    font-weight: var(--conteiner-fontweight);
    font-size: var(--conteiner-fontsize);
  }

.conteiner img {
  padding: 10px;
  height: 300px;
  background-color: rgb(133, 133, 133);
}

.log {
  width: fit-content;
  background-color: #DCDCEE;
  padding: 10px;
}
  
